body{
	font-family: 'Merriweather', sans-serif;

}
/*.winner{
	background-color: blue;
	color: green;
}*/

.done{
	text-decoration: line-through;
	opacity: 0.5;
}
.selected{
	color: green;
}

.correct{
	color: green;
}

.wrong{
	color: red;
	background-color: pink;
}
.done{
	color: gray;
	text-decoration: line-through;
}